.Header {
    background-color: #1A98D5;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
}

.Header a {
    color: white;
    text-decoration: none;
}

.Nav {
    background-color: #1A98D5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Header button {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: calc(10px + 2vmin);
    background-color: transparent;
    border: none;
}