.LoginForm {
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 310px;
}

.LoginForm input,
.LoginForm button {
    margin: 0 0 20px;
    font-size: 18px;
}

.switchToSignUpOrLogin {
    color: #1A98D5;
    text-decoration: none;
    cursor: pointer;
    font-size: calc(16px);
    background-color: transparent;
    border: none;
    width: fit-content;
    float: right;
}